body{
    color: #b19cd9;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 20px;
    margin: 0;
    text-align: center;
    background-color: black;

}
h1{
    color: #66FCF1;
    font-size: 48px;
    font-weight: 300;
    line-height: 1;
    margin: 0;
    text-align: center;
}
h2{
    color: #b19cd9;
    font-size: 36px;
    font-weight: 300;
    line-height: 1;
    margin: 0;
    text-align: center;
}